*.vs/RingsProject/v16/ipch/*
*.db-wal
*.log
*.pdb
*.obj
*.obj
*.tlog
*.tlog
*.log
*Debug/*
*DLLTools/x64/*
*x64/*
*.vs
*Debug/PowerPoint.obj
*Debug/PowerPoint.obj
*Debug/PowerPoint.obj
*Debug/RingsProject.exe.log
*.dmp
*Debug/RingsProject.ilk
*.obj
Debug/vc142.idb
*.pdb
